<h1>Multiplication</h1>

<form action="/wizard_multiply">
  <label for="mult1">Multiply this:</label>
  <input id="mult1" name="mult1">

  <label for="mult2">by this:</label>
  <input id="mult2" name="mult2">

  <button>Multiply!</button>
</form>
